.button_main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 157px;
  height: 48px;
  background-color: white;
  border-radius: 48px;
  right: 40px;
  border: none;
  bottom: 40px;
  text-align: center;
}

.heart_main {
  color: red;
  font-size: 30px;
  display: inline;
  margin-right: 12px;
}
